.comment-container {
  width: 650px;
  padding: 18px;
  border: solid 0.8px rgb(232, 232, 232);
  margin-bottom: 12px;
  background-color: white;
}

.comment-header {
  display: flex;
  height: 40px;
  width: 100%;
  margin-bottom: 18px;
}

.comment-delete, .comment-edit {
  padding: 6px;
}

.comment-buttons {
  margin-left: auto;
}

.comment-delete {
  margin-left: 6px;
  margin-right: 5px;
}

.comment-profile {
  margin-right: 12px;
}

.comment-time {
  font-size: 12px;
  color: rgb(155, 158, 158);
}

.comment-description {
  font-size: 14px;
  word-wrap: break-word
}

.comment-info {
  display: flex;
  flex-direction: column;
}
