.update-container {
  display: block;
  border: 1px solid#DCDEDD;
  transition: border 0.2s;
}

.update-container:hover {
  border-color: #9B9E9E;
  color: rgb(40, 40, 40);
}

.update {
  padding: 36px;
  background-color: #FFF;
}

.update-counter-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.update-counter {
  text-transform: uppercase;
  color: rgba(40, 40, 40, 0.5);
  font-size: 13px;
  line-height: 18px;
}

.update-header {
  margin-bottom: 18px;
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #282828;
}

.update-author-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 18px;
  padding-bottom: 18px;
  border-bottom: 1px solid #DCDEDD;
  font-size: 14px;
  line-height: 24px
}

.update-author-icon {
  height: 42px;
  width: 42px;
  border: 1px solid #DCDEDD;
  border-radius: 100%;
  object-fit: contain;
}

.update-author-creator {
  padding: 4px 5px;
  border-radius: 3px;
  margin-left: 6px;
  font-weight: 700;
  background-color: #05CE78;
  color: #FFF;
  font-size: 12px;
  line-height: 18px;
  vertical-align: middle;
}

.update-date {
  display: block;
  color: rgba(40, 40, 40, 0.5);
  font-size: 13px;
  line-height: 18px;
}

.update-truncated-body {
  max-height: 240px;
  transition: max-height 0.2s;
  overflow: hidden;
}

.update-truncated-body:hover {
  max-height: 320px;
}

.update-spacer {
  padding: 0 18px;
  position: relative;
  float: left;
  margin-bottom: 36px;
  width: calc(8/12 * 100%);
  margin-left: calc(2/12 * 100%);
}

.hamburger-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: -6px;
}

.hamburger-icon {
  position: relative;
  height: 48px;
  width: 48px;
  fill: #F97B62;
}

.update-content > p {
  font-size: 16px;
  line-height: 29px;
  margin-bottom: 30px;
}

.update-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 6px;
}

.update-footer-icons {
  padding-bottom: 18px;
  color: #9B9E9E;
  font-size: 14px;
  line-height: 24px;
}

.update-footer-icon {
  margin-right: 6px;
  fill: #9B9E9E;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.update-readmore-link {
  border: 1px solid rgb(209, 209, 209);
  padding: 10px 18px;
  font-size: 14px;
}

.update-readmore-link:hover {
  box-shadow: 0px 2px 5px rgba(22, 22, 22, 0.16);
  border-color: rgb(34, 34, 34);
}

.update-readmore-container {
  display: flex;
  align-items: center;
  color: rgb(34, 34, 34);
}
