.btn {
  display: inline-flex;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(22, 22, 22, 0.16);
}

.btn-primary, .btn-delete, .btn-edit {
  border: none;
  transition: all 0.2s;
  padding: 12px;
  color: white;
}

.btn-primary {
  background-color: rgb(2, 136, 88);
}

.btn-primary:hover {
  background-color: rgb(1, 87, 56);
}

.btn-secondary {
  background-color: var(--btn-bg);
  border: 1px solid var(--btn-border);
  color: var(--btn-text);
}

.btn-secondary:hover {
  border-color: rgb(34, 34, 34);
  box-shadow: 0px 2px 5px rgba(22, 22, 22, 0.16);
}

.btn-delete {
  background-color: rgb(209, 26, 42);
}

.btn-delete:hover {
  background-color: rgb(110, 20, 33);
}

.btn-edit {
  background-color: rgb(150, 150, 150)
}

.btn-edit:hover {
  background-color: rgb(80, 80, 80)
}

.btn-small {
  padding: 9px 12px;
  font-size: 12px;
}

.btn-medium {
  padding: 10px 18px;
  font-size: 14px;
}

.btn-tertiary {
  background-color: rgb(209, 209, 209);
  color: rgb(34, 34, 34);
  border: 1px solid rgb(209, 209, 209);

}

.btn-tertiary:hover {
  background-color: rgb(105, 105, 105);
  color: white;
  fill: white;
}
