.edit-form-container {
  display: flex;
  flex-direction: column;
}

.edit-form-title-container {
  margin-bottom: 42px;
}

.edit-form-character-count {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
  margin-top: 6px;
  color: rgb(40, 40, 40);
}

.edit-form-header {
  margin-bottom: 6px;
  font-size: 14px;
  color: rgb(40, 40, 40);
}

.edit-form-text-area {
  height: 42px;
  width: 100%;;
  padding: 12px;
}

#title-form-sub-title-text-area {
  height: 65px;
}
